# Model Predictions

# 100K Train, 2.2M Test

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
### vvvvvvvvvvvvvvvvvvvvvvvvvvvvv global vars vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

RANDOM_STATE = 42

# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ end global vars ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


def menu(choices, prompts):
    
    # display menu by displaying the list of prompts and list of choices:
    print()
    for p in range(len(prompts)):
        print()
        print(prompts[p], ": ", choices[p]) 
    print()
    
    # validate user selection:
    while(True):
        choice = input('Enter your selection from the options above: ')
        # if the user's input is in the choices list, return that choice because it is valid:
        if choice in choices:
            return choice
        else:
            print('Please enter your selection from the options above: ')


def preProcess(file):
       
    df = pd.read_csv(file, header=0)
    df["LR"] = ""
    df["age_group_float"] = df["age_group"].replace({"-65":0, "65-74":1, "75-84":2, "85+":3})
    print()
    display = input('To display dataset parameters, enter 3 otherwise just press enter: ')
    if(display=='3'):
    
        print('df.head(): \n', df.head(), '\n')
        
        # use describe and info to get a better idea what the data looks like:
        print('df.info(): ')    
        print(df.info(), '\n'  ) 
            
        print('df.describe(): ')    
        print(df.describe(), '\n'  )  
        
        #find dimensions of the data:           
        print(" data set dimensions:{}". format(df.shape))
        
        #go()
     
    #find missing or null data
    
    if(df.isnull().sum().sum()>0):
        df.dropna()
        print('found and corrected null data: ')
        
    if(df.isna().sum().sum()>0):
        df.dropna()  
        print('found and corrected missing data: ')
    
    if(display=='3'):
        print('df.isnull().sum()')
        print(df.isnull().sum(), '\n')

        print('df.isna().sum()')
        print(df.isna().sum())
        
    print('\ncompletion of search for missing/null data: \n\n')
    
    X = df
    y = df["dep_target_hd"]

    if(display=='3'):
        print('df X:')
        print(X, '\n')
            
        print('df Y:')    
        
        print(y, '\n')
        
        #go()
    
    from sklearn import preprocessing
    from sklearn.preprocessing import LabelEncoder
    from sklearn.preprocessing import OneHotEncoder
    labelencoder_Y = LabelEncoder()
    y = labelencoder_Y.fit_transform(y)
    
    if(display=='3'):
        print('Y transformed into 0s and 1s:')
        print(y, '\n') 
    
    if(display=='3'):
        print('X: ')
        print(X, '\n')
        print('X_tshape: ', X.shape, '\n') 
   
    return X, y


# Logistic Regression Algorithm:
def LR(X_train_data, y_train, X_test_data,X_test, y_test, choices, choice, results):
    # Logistic Regression Algorithm
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(solver = 'lbfgs', random_state = RANDOM_STATE)
    #NEW
    classifier.fit(X_train_data, y_train)
    y_pred = classifier.predict(X_test_data)
#     print("y_pred",y_pred)
    sub = pd.DataFrame(data=X_test)
#     print("sub",sub)
    sub['LR'] = y_pred
    sub = sub[["person_id", "gender_source_value","race_source_value","ethnicity_source_value", "i_diabetes", "i_chronic","i_high_bp","i_obesity","i_statin","i_aspirin","age_group_float",'dep_target_hd',"LR"]].copy()
    display(sub.head(5))


    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    #cm[0,0] is the true positives
    #cm[1,1] is the true negatives
    #cm[0,1] are the false positives
    #cm[1,0] are the false negatives

    print('\nResults for Logistic Regression: \n')
    print('cm: ')
    print(cm, '\n')
    
    score = classifier.score(X_test_data, y_test)
    print('score: ', score, '\n')
    
    
    acc = (cm[0,0] + cm[1,1])/y_test.shape[0] # the total of the test cases, not the train cases
    print('acc: ', acc, '\n')
    lr_acc = acc
   
    results[choices[choice]] = acc 
    choice += 1
    print('results: ', results, '\n')
    
#     go()
    print('\n')
    
    return choice, results, sub;

# KNeighborsClassifier
def KNN(X_train_data, y_train, X_test_data,X_test, y_test, choices, choice, results, sub):
   
    from sklearn.neighbors import KNeighborsClassifier

    nearest = 2
    classifier = KNeighborsClassifier(n_neighbors=nearest, metric = 'minkowski', p = 2)
    classifier.fit(X_train_data, y_train)
    print('This is the KNN: ')
    #NEW
    y_pred = classifier.predict(X_test_data)
    sub['KNN'] = y_pred
    display(sub.head(5))
    

    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)
 
    print('\nResults for KNN: \n')
    print('cm: ')
    print(cm, '\n')
    
    acc = (cm[0,0] + cm[1,1])/y_test.shape[0] # the total of the test cases, not the train cases
    knn_acc = acc # probly don't need this now as results stored in dict
    print('acc: ', acc, '\n')

    print('\n')

    results[choices[choice]] = acc 
    choice += 1
    print('results: ', results, '\n')
    
    print('\n')
    
    return choice, results, sub;

# SVM using SVC:
def SVC(X_train_data, y_train, X_test_data,X_test, y_test, choices, choice, results, sub):
  
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'linear', random_state=RANDOM_STATE)
    classifier.fit(X_train_data, y_train)
    print('This is the SVM')
    print('\n')

    #NEW
    y_pred = classifier.predict(X_test_data)
    sub['SVM'] = y_pred
    display(sub.head(5))

#     from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    print('\nResults for SVC: \n')
    print('cm: ')
    print(cm, '\n')
    
    acc = (cm[0,0] + cm[1,1])/y_test.shape[0] # the total of the test cases, not the train cases
    svc_acc = acc 
    print('acc: ', acc, '\n')

    results[choices[choice]] = acc 
    choice += 1
    print('results: ', results, '\n')
    print('\n')

    return choice, results, sub;


#Gaussian Naive Bayes
def GNB(X_train_data, y_train, X_test_data,X_test, y_test, choices, choice, results, sub):
  
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train_data, y_train)
    print('This is the GaussianNB')

    print('\n')
    
    #NEW
    y_pred = classifier.predict(X_test_data)
    sub['GNB'] = y_pred
    display(sub.head(5))
    
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    print('\nResults for GNB: \n')
    print('cm: ')
    print(cm, '\n')
    
    acc = (cm[0,0] + cm[1,1])/y_test.shape[0] # the total of the test cases, not the train cases
    GNB_acc = acc
    print('acc: ', acc, '\n')
    
    results[choices[choice]] = acc 
    choice += 1
    print('results: ', results, '\n')
    print('\n')
    
    return choice, results, sub;


#Decision Tree Classifier:
def DTC(X_train_data, y_train, X_test_data,X_test, y_test, choices, choice, results, sub):
    
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = RANDOM_STATE)
    classifier.fit(X_train_data, y_train)
    print('This is the decision tree classifier')
    print('\n')
    
    y_pred = classifier.predict(X_test_data)
    sub['DTC'] = y_pred
    display(sub.head(5))
    
#     from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    print('\nResults for DTC: \n')
    print('cm: ')
    print(cm, '\n')
    
    acc = (cm[0,0] + cm[1,1])/y_test.shape[0] # the total of the test cases, not the train cases
    dtc_acc = acc
    print('acc: ', acc, '\n')
    
    results[choices[choice]] = acc  
    choice += 1
    print('results: ', results, '\n') 
    print('\n');
    
    return choice, results, sub;

#Random Forest Classifier:
def RF(X_train_data, y_train, X_test_data,X_test, y_test, choices, choice, results, sub):         
   
    from sklearn.ensemble import RandomForestClassifier
    
    classifier = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=RANDOM_STATE)
    classifier.fit(X_train_data, y_train)
    print('This is the Random Forest Classifier')
#     go()
    print('\n')
    
    #NEW
    y_pred = classifier.predict(X_test_data)
    sub['RF'] = y_pred
    display(sub.head(5))

#     from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    print('\nResults for RF: \n')
    print('cm: ')
    print(cm, '\n')
    
    acc = (cm[0,0] + cm[1,1])/y_test.shape[0] # the total of the test cases, not the train cases
    rf_acc = acc
    print(rf_acc)
    print('acc: ', acc, '\n')
    
    # new CR code 210705; update the results dictionary with the results of this run:
    results[choices[choice]] = acc  
    choice += 1
    print('results: ', results, '\n')
    
    predictions = sub[["person_id","LR","KNN", "SVM","GNB", "DTC", "RF"]].copy()
    predictions.to_csv (r'heart_disease_conditions_model_predictions_2.2M.csv', index=None)
    
    return choice, results, sub;

In [18]:
def main():
#     print('\n\n Comparing classifiers using heart_disease_conditions_2.3M_20220319.csv\n\n')
    print('\n\n Comparing classifiers using heart_disease_conditions_100K_20220407.csv\n\n')
    
    """
    Report testing accuracy for each of the 6 classifiers.
    """
#     print('heart_disease_conditions_2.3M_20220319.csv');
    print('heart_disease_conditions_100K_20220407.csv');
    print('input and pre-process the dataset: \n')
    
#     file = r'heart_disease_conditions_2.3M_20220319.csv'
    file = r'heart_disease_conditions_100K_20220407.csv'
    file2 = r"heart_disease_conditions_22M_20220407.csv"
    
    X, y = preProcess(file)
    print("X.shape", X.shape)
    print("Y.shape", y.shape)
    X2, y2 = preProcess(file2)
    print("X2.shape", X2.shape)
    print("Y2.shape", y2.shape)
    
    print('split dataset into train and test segments:\n')
    from sklearn.model_selection import train_test_split
    testSize = 0.200
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = testSize, random_state = RANDOM_STATE)
    X_train_data = X_train.loc[:,["gender_source_value","race_source_value","ethnicity_source_value", "i_diabetes", "i_chronic","i_high_bp","i_obesity","i_statin","i_aspirin", "age_group_float"]].values
    X_test_data = X_test.loc[:,["gender_source_value","race_source_value","ethnicity_source_value", "i_diabetes", "i_chronic","i_high_bp","i_obesity","i_statin","i_aspirin", "age_group_float"]].values
    
    X2_test_data = X2.loc[:,["gender_source_value","race_source_value","ethnicity_source_value", "i_diabetes", "i_chronic","i_high_bp","i_obesity","i_statin","i_aspirin", "age_group_float"]].values
    y2_test = y2
    
    print("X_train_data:")
    display(X_train_data)
    print("X_test_data:")
    display(X_test_data)
    print("y_train:")
    display(y_train)
    print("y_test:")
    display(y_test)

    choices = ['LR', 'KNN', 'SVM', 'GNB', 'DTC', 'RF']

    # store choices/results pairs where choices is key, results is value:
    results = {}
    choice = 0
   
    
    choice, results, sub = LR(X_train_data, y_train, X2_test_data,X2, y2_test, choices, choice, results);         
    
    choice, results, sub = KNN(X_train_data, y_train, X2_test_data,X2, y2_test, choices, choice, results, sub);     

    choice, results, sub = SVC(X_train_data, y_train, X2_test_data,X2, y2_test, choices, choice, results, sub);
    
    choice, results, sub = GNB(X_train_data, y_train, X2_test_data,X2, y2_test, choices, choice, results, sub);        
    
    choice, results, sub = DTC(X_train_data, y_train, X2_test_data,X2, y2_test, choices, choice, results, sub);
    
    choice, results, sub = RF(X_train_data, y_train, X2_test_data,X2, y2_test, choices, choice, results, sub);
    
    
main()

 Comparing classifiers using heart_disease_conditions_100K_20220407.csv


heart_disease_conditions_100K_20220407.csv
input and pre-process the dataset:


To display dataset parameters, enter 3 otherwise just press enter: 3
df.head():
    person_id  gender_concept_id  year_of_birth  month_of_birth  day_of_birth  \
0       1054               8507           1942              11             1
1       1067               8507           1938               6             1
2       2017               8532           1926               4             1
3       2963               8532           1936               6             1
4       3248               8532           1923              12             1

   birth_datetime  race_concept_id  ethnicity_concept_id  location_id  \
0             NaN             8527              38003564          609
1             NaN             8527              38003564          615
2             NaN             8527              38003564          936
3             NaN                0              38003564         1175
4             NaN             8527              38003564          145

   provider_id  ...  city state  zip  county  location_source_value  \
0          NaN  ...   NaN    OR  NaN   38160                 38-160
1          NaN  ...   NaN    TN  NaN   44150                 44-150
2          NaN  ...   NaN    MO  NaN   26670                 26-670
3          NaN  ...   NaN    SC  NaN   42000                 42-000
4          NaN  ...   NaN    MA  NaN   22070                 22-070

          dob  age  age_group LR age_group_float
0  1942-11-01   67      65-74                  1
1  1938-06-01   72      65-74                  1
2  1926-04-01   84      75-84                  2
3  1936-06-01   74      65-74                  1
4  1923-12-01   86        85+                  3

[5 rows x 40 columns]

df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 40 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   person_id                    100000 non-null  int64
 1   gender_concept_id            100000 non-null  int64
 2   year_of_birth                100000 non-null  int64
 3   month_of_birth               100000 non-null  int64
 4   day_of_birth                 100000 non-null  int64
 5   birth_datetime               0 non-null       float64
 6   race_concept_id              100000 non-null  int64
 7   ethnicity_concept_id         100000 non-null  int64
 8   location_id                  100000 non-null  int64
 9   provider_id                  0 non-null       float64
 10  care_site_id                 0 non-null       float64
 11  person_source_value_left     100000 non-null  object
 12  gender_source_value          100000 non-null  int64
 13  gender_source_concept_id     0 non-null       float64
 14  race_source_value            100000 non-null  int64
 15  race_source_concept_id       0 non-null       float64
 16  ethnicity_source_value       100000 non-null  int64
 17  ethnicity_source_concept_id  0 non-null       float64
 18  ethnicity_concept_name       100000 non-null  object
 19  race_concept_name            100000 non-null  object
 20  gender_concept_name          100000 non-null  object
 21  dep_target_hd                100000 non-null  int64
 22  i_diabetes                   100000 non-null  int64
 23  i_chronic                    100000 non-null  int64
 24  i_high_bp                    100000 non-null  int64
 25  i_obesity                    100000 non-null  int64
 26  i_statin                     100000 non-null  int64
 27  i_aspirin                    100000 non-null  int64
 28  address_1                    0 non-null       float64
 29  address_2                    0 non-null       float64
 30  city                         0 non-null       float64
 31  state                        100000 non-null  object
 32  zip                          0 non-null       float64
 33  county                       100000 non-null  int64
 34  location_source_value        100000 non-null  object
 35  dob                          100000 non-null  object
 36  age                          100000 non-null  int64
 37  age_group                    100000 non-null  object
 38  LR                           100000 non-null  object
 39  age_group_float              100000 non-null  int64
dtypes: float64(10), int64(21), object(9)
memory usage: 30.5+ MB
None

df.describe():
          person_id  gender_concept_id  year_of_birth  month_of_birth  \
count  1.000000e+05      100000.000000  100000.000000   100000.000000
mean   1.161093e+06        8520.910000    1936.292730        6.498000
std    6.717512e+05          12.420284      12.543469        3.446354
min    3.400000e+01        8507.000000    1909.000000        1.000000
25%    5.800785e+05        8507.000000    1928.000000        3.000000
50%    1.159566e+06        8532.000000    1936.000000        6.000000
75%    1.741372e+06        8532.000000    1942.000000        9.000000
max    2.326855e+06        8532.000000    1983.000000       12.000000

       day_of_birth  birth_datetime  race_concept_id  ethnicity_concept_id  \
count      100000.0             0.0    100000.000000          1.000000e+05
mean            1.0             NaN      7963.568130          3.800356e+07
std             0.0             NaN      2115.911531          1.504122e-01
min             1.0             NaN         0.000000          3.800356e+07
25%             1.0             NaN      8527.000000          3.800356e+07
50%             1.0             NaN      8527.000000          3.800356e+07
75%             1.0             NaN      8527.000000          3.800356e+07
max             1.0             NaN      8527.000000          3.800356e+07

         location_id  provider_id  ...      i_obesity       i_statin  \
count  100000.000000          0.0  ...  100000.000000  100000.000000
mean      692.143360          NaN  ...       0.203750       0.331110
std       706.675488          NaN  ...       0.402787       0.470615
min         1.000000          NaN  ...       0.000000       0.000000
25%       143.000000          NaN  ...       0.000000       0.000000
50%       421.000000          NaN  ...       0.000000       0.000000
75%      1031.000000          NaN  ...       0.000000       1.000000
max      3179.000000          NaN  ...       1.000000       1.000000

           i_aspirin  address_1  address_2  city  zip         county  \
count  100000.000000        0.0        0.0   0.0  0.0  100000.000000
mean        0.262860        NaN        NaN   NaN  NaN   26080.532960
std         0.440189        NaN        NaN   NaN  NaN   15594.348365
min         0.000000        NaN        NaN   NaN  NaN    1000.000000
25%         0.000000        NaN        NaN   NaN  NaN   11090.000000
50%         0.000000        NaN        NaN   NaN  NaN   25460.000000
75%         1.000000        NaN        NaN   NaN  NaN   39070.000000
max         1.000000        NaN        NaN   NaN  NaN   54999.000000

                 age  age_group_float
count  100000.000000    100000.000000
mean       73.207820         1.483140
std        12.552154         0.943337
min        26.000000         0.000000
25%        68.000000         1.000000
50%        74.000000         1.000000
75%        81.000000         2.000000
max       101.000000         3.000000

[8 rows x 31 columns]

 data set dimensions:(100000, 40)
found and corrected null data:
found and corrected missing data:
df.isnull().sum()
person_id                           0
gender_concept_id                   0
year_of_birth                       0
month_of_birth                      0
day_of_birth                        0
birth_datetime                 100000
race_concept_id                     0
ethnicity_concept_id                0
location_id                         0
provider_id                    100000
care_site_id                   100000
person_source_value_left            0
gender_source_value                 0
gender_source_concept_id       100000
race_source_value                   0
race_source_concept_id         100000
ethnicity_source_value              0
ethnicity_source_concept_id    100000
ethnicity_concept_name              0
race_concept_name                   0
gender_concept_name                 0
dep_target_hd                       0
i_diabetes                          0
i_chronic                           0
i_high_bp                           0
i_obesity                           0
i_statin                            0
i_aspirin                           0
address_1                      100000
address_2                      100000
city                           100000
state                               0
zip                            100000
county                              0
location_source_value               0
dob                                 0
age                                 0
age_group                           0
LR                                  0
age_group_float                     0
dtype: int64

df.isna().sum()
person_id                           0
gender_concept_id                   0
year_of_birth                       0
month_of_birth                      0
day_of_birth                        0
birth_datetime                 100000
race_concept_id                     0
ethnicity_concept_id                0
location_id                         0
provider_id                    100000
care_site_id                   100000
person_source_value_left            0
gender_source_value                 0
gender_source_concept_id       100000
race_source_value                   0
race_source_concept_id         100000
ethnicity_source_value              0
ethnicity_source_concept_id    100000
ethnicity_concept_name              0
race_concept_name                   0
gender_concept_name                 0
dep_target_hd                       0
i_diabetes                          0
i_chronic                           0
i_high_bp                           0
i_obesity                           0
i_statin                            0
i_aspirin                           0
address_1                      100000
address_2                      100000
city                           100000
state                               0
zip                            100000
county                              0
location_source_value               0
dob                                 0
age                                 0
age_group                           0
LR                                  0
age_group_float                     0
dtype: int64

completion of search for missing/null data:


df X:
       person_id  gender_concept_id  year_of_birth  month_of_birth  \
0           1054               8507           1942              11
1           1067               8507           1938               6
2           2017               8532           1926               4
3           2963               8532           1936               6
4           3248               8532           1923              12
...          ...                ...            ...             ...
99995    2325425               8532           1929              10
99996    2325929               8532           1922               7
99997    2325997               8532           1943               8
99998    2326020               8507           1959               6
99999    2326679               8507           1935               1

       day_of_birth  birth_datetime  race_concept_id  ethnicity_concept_id  \
0                 1             NaN             8527              38003564
1                 1             NaN             8527              38003564
2                 1             NaN             8527              38003564
3                 1             NaN                0              38003564
4                 1             NaN             8527              38003564
...             ...             ...              ...                   ...
99995             1             NaN             8527              38003564
99996             1             NaN                0              38003563
99997             1             NaN             8527              38003564
99998             1             NaN             8516              38003564
99999             1             NaN             8527              38003564

       location_id  provider_id  ...  city state  zip  county  \
0              609          NaN  ...   NaN    OR  NaN   38160
1              615          NaN  ...   NaN    TN  NaN   44150
2              936          NaN  ...   NaN    MO  NaN   26670
3             1175          NaN  ...   NaN    SC  NaN   42000
4              145          NaN  ...   NaN    MA  NaN   22070
...            ...          ...  ...   ...   ...  ...     ...
99995         2412          NaN  ...   NaN    VA  NaN   49540
99996         2582          NaN  ...   NaN    TX  NaN   45740
99997          765          NaN  ...   NaN    NC  NaN   34100
99998          653          NaN  ...   NaN    NC  NaN   34510
99999            9          NaN  ...   NaN    MI  NaN   23810

       location_source_value         dob  age  age_group LR age_group_float
0                     38-160  1942-11-01   67      65-74                  1
1                     44-150  1938-06-01   72      65-74                  1
2                     26-670  1926-04-01   84      75-84                  2
3                     42-000  1936-06-01   74      65-74                  1
4                     22-070  1923-12-01   86        85+                  3
...                      ...         ...  ...        ... ..             ...
99995                 49-540  1929-10-01   80      75-84                  2
99996                 45-740  1922-07-01   87        85+                  3
99997                 34-100  1943-08-01   66      65-74                  1
99998                 34-510  1959-06-01   51        -65                  0
99999                 23-810  1935-01-01   75      75-84                  2

[100000 rows x 40 columns]

df Y:
0        1
1        0
2        1
3        0
4        1
        ..
99995    0
99996    1
99997    0
99998    0
99999    0
Name: dep_target_hd, Length: 100000, dtype: int64

Y transformed into 0s and 1s:
[1 0 1 ... 0 0 0]

X:
       person_id  gender_concept_id  year_of_birth  month_of_birth  \
0           1054               8507           1942              11
1           1067               8507           1938               6
2           2017               8532           1926               4
3           2963               8532           1936               6
4           3248               8532           1923              12
...          ...                ...            ...             ...
99995    2325425               8532           1929              10
99996    2325929               8532           1922               7
99997    2325997               8532           1943               8
99998    2326020               8507           1959               6
99999    2326679               8507           1935               1

       day_of_birth  birth_datetime  race_concept_id  ethnicity_concept_id  \
0                 1             NaN             8527              38003564
1                 1             NaN             8527              38003564
2                 1             NaN             8527              38003564
3                 1             NaN                0              38003564
4                 1             NaN             8527              38003564
...             ...             ...              ...                   ...
99995             1             NaN             8527              38003564
99996             1             NaN                0              38003563
99997             1             NaN             8527              38003564
99998             1             NaN             8516              38003564
99999             1             NaN             8527              38003564

       location_id  provider_id  ...  city state  zip  county  \
0              609          NaN  ...   NaN    OR  NaN   38160
1              615          NaN  ...   NaN    TN  NaN   44150
2              936          NaN  ...   NaN    MO  NaN   26670
3             1175          NaN  ...   NaN    SC  NaN   42000
4              145          NaN  ...   NaN    MA  NaN   22070
...            ...          ...  ...   ...   ...  ...     ...
99995         2412          NaN  ...   NaN    VA  NaN   49540
99996         2582          NaN  ...   NaN    TX  NaN   45740
99997          765          NaN  ...   NaN    NC  NaN   34100
99998          653          NaN  ...   NaN    NC  NaN   34510
99999            9          NaN  ...   NaN    MI  NaN   23810

       location_source_value         dob  age  age_group LR age_group_float
0                     38-160  1942-11-01   67      65-74                  1
1                     44-150  1938-06-01   72      65-74                  1
2                     26-670  1926-04-01   84      75-84                  2
3                     42-000  1936-06-01   74      65-74                  1
4                     22-070  1923-12-01   86        85+                  3
...                      ...         ...  ...        ... ..             ...
99995                 49-540  1929-10-01   80      75-84                  2
99996                 45-740  1922-07-01   87        85+                  3
99997                 34-100  1943-08-01   66      65-74                  1
99998                 34-510  1959-06-01   51        -65                  0
99999                 23-810  1935-01-01   75      75-84                  2

[100000 rows x 40 columns]

X_tshape:  (100000, 40)

X.shape (100000, 40)
Y.shape (100000,)

To display dataset parameters, enter 3 otherwise just press enter: 3
df.head():
    person_id  gender_concept_id  year_of_birth  month_of_birth  day_of_birth  \
0         30               8532           1959              11             1
1         46               8507           1931               1             1
2         66               8532           1920               4             1
3         67               8507           1948              11             1
4         99               8532           1920               9             1

   birth_datetime  race_concept_id  ethnicity_concept_id  location_id  \
0             NaN             8527              38003564           30
1             NaN             8527              38003564           46
2             NaN             8527              38003564           63
3             NaN             8527              38003564           64
4             NaN             8527              38003564           89

   provider_id  ...  city state  zip  county  location_source_value  \
0          NaN  ...   NaN    CA  NaN    5090                 05-090
1          NaN  ...   NaN    CA  NaN    5200                 05-200
2          NaN  ...   NaN    MO  NaN   26470                 26-470
3          NaN  ...   NaN    OH  NaN   36770                 36-770
4          NaN  ...   NaN    FL  NaN   10490                 10-490

          dob  age  age_group LR age_group_float
0  1959-11-01   50        -65                  0
1  1931-01-01   79      75-84                  2
2  1920-04-01   90        85+                  3
3  1948-11-01   61        -65                  0
4  1920-09-01   89        85+                  3

[5 rows x 40 columns]

df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226856 entries, 0 to 2226855
Data columns (total 40 columns):
 #   Column                       Dtype
---  ------                       -----
 0   person_id                    int64
 1   gender_concept_id            int64
 2   year_of_birth                int64
 3   month_of_birth               int64
 4   day_of_birth                 int64
 5   birth_datetime               float64
 6   race_concept_id              int64
 7   ethnicity_concept_id         int64
 8   location_id                  int64
 9   provider_id                  float64
 10  care_site_id                 float64
 11  person_source_value_left     object
 12  gender_source_value          int64
 13  gender_source_concept_id     float64
 14  race_source_value            int64
 15  race_source_concept_id       float64
 16  ethnicity_source_value       int64
 17  ethnicity_source_concept_id  float64
 18  ethnicity_concept_name       object
 19  race_concept_name            object
 20  gender_concept_name          object
 21  dep_target_hd                int64
 22  i_diabetes                   int64
 23  i_chronic                    int64
 24  i_high_bp                    int64
 25  i_obesity                    int64
 26  i_statin                     int64
 27  i_aspirin                    int64
 28  address_1                    float64
 29  address_2                    float64
 30  city                         float64
 31  state                        object
 32  zip                          float64
 33  county                       int64
 34  location_source_value        object
 35  dob                          object
 36  age                          int64
 37  age_group                    object
 38  LR                           object
 39  age_group_float              int64
dtypes: float64(10), int64(21), object(9)
memory usage: 679.6+ MB
None

df.describe():
          person_id  gender_concept_id  year_of_birth  month_of_birth  \
count  2.226856e+06       2.226856e+06   2.226856e+06    2.226856e+06
mean   1.163533e+06       8.520890e+03   1.936332e+03    6.501481e+00
std    6.717035e+05       1.242250e+01   1.251669e+01    3.449322e+00
min    1.000000e+00       8.507000e+03   1.909000e+03    1.000000e+00
25%    5.817908e+05       8.507000e+03   1.928000e+03    4.000000e+00
50%    1.163594e+06       8.532000e+03   1.936000e+03    6.000000e+00
75%    1.745287e+06       8.532000e+03   1.942000e+03    9.000000e+00
max    2.326856e+06       8.532000e+03   1.983000e+03    1.200000e+01

       day_of_birth  birth_datetime  race_concept_id  ethnicity_concept_id  \
count     2226856.0             0.0     2.226856e+06          2.226856e+06
mean            1.0             NaN     7.967417e+03          3.800356e+07
std             0.0             NaN     2.109136e+03          1.512107e-01
min             1.0             NaN     0.000000e+00          3.800356e+07
25%             1.0             NaN     8.527000e+03          3.800356e+07
50%             1.0             NaN     8.527000e+03          3.800356e+07
75%             1.0             NaN     8.527000e+03          3.800356e+07
max             1.0             NaN     8.527000e+03          3.800356e+07

        location_id  provider_id  ...     i_obesity      i_statin  \
count  2.226856e+06          0.0  ...  2.226856e+06  2.226856e+06
mean   6.913651e+02          NaN  ...  2.041807e-01  3.301740e-01
std    7.066147e+02          NaN  ...  4.031017e-01  4.702757e-01
min    1.000000e+00          NaN  ...  0.000000e+00  0.000000e+00
25%    1.430000e+02          NaN  ...  0.000000e+00  0.000000e+00
50%    4.210000e+02          NaN  ...  0.000000e+00  0.000000e+00
75%    1.026000e+03          NaN  ...  0.000000e+00  1.000000e+00
max    3.185000e+03          NaN  ...  1.000000e+00  1.000000e+00

          i_aspirin  address_1  address_2  city  zip        county  \
count  2.226856e+06        0.0        0.0   0.0  0.0  2.226856e+06
mean   2.628895e-01        NaN        NaN   NaN  NaN  2.608594e+04
std    4.402030e-01        NaN        NaN   NaN  NaN  1.560801e+04
min    0.000000e+00        NaN        NaN   NaN  NaN  1.000000e+03
25%    0.000000e+00        NaN        NaN   NaN  NaN  1.105000e+04
50%    0.000000e+00        NaN        NaN   NaN  NaN  2.547000e+04
75%    1.000000e+00        NaN        NaN   NaN  NaN  3.908000e+04
max    1.000000e+00        NaN        NaN   NaN  NaN  5.499900e+04

                age  age_group_float
count  2.226856e+06     2.226856e+06
mean   7.316780e+01     1.479600e+00
std    1.252701e+01     9.411726e-01
min    2.600000e+01     0.000000e+00
25%    6.800000e+01     1.000000e+00
50%    7.400000e+01     1.000000e+00
75%    8.100000e+01     2.000000e+00
max    1.010000e+02     3.000000e+00

[8 rows x 31 columns]

 data set dimensions:(2226856, 40)
found and corrected null data:
found and corrected missing data:
df.isnull().sum()
person_id                            0
gender_concept_id                    0
year_of_birth                        0
month_of_birth                       0
day_of_birth                         0
birth_datetime                 2226856
race_concept_id                      0
ethnicity_concept_id                 0
location_id                          0
provider_id                    2226856
care_site_id                   2226856
person_source_value_left             0
gender_source_value                  0
gender_source_concept_id       2226856
race_source_value                    0
race_source_concept_id         2226856
ethnicity_source_value               0
ethnicity_source_concept_id    2226856
ethnicity_concept_name               0
race_concept_name                    0
gender_concept_name                  0
dep_target_hd                        0
i_diabetes                           0
i_chronic                            0
i_high_bp                            0
i_obesity                            0
i_statin                             0
i_aspirin                            0
address_1                      2226856
address_2                      2226856
city                           2226856
state                                0
zip                            2226856
county                               0
location_source_value                0
dob                                  0
age                                  0
age_group                            0
LR                                   0
age_group_float                      0
dtype: int64

df.isna().sum()

person_id                            0
gender_concept_id                    0
year_of_birth                        0
month_of_birth                       0
day_of_birth                         0
birth_datetime                 2226856
race_concept_id                      0
ethnicity_concept_id                 0
location_id                          0
provider_id                    2226856
care_site_id                   2226856
person_source_value_left             0
gender_source_value                  0
gender_source_concept_id       2226856
race_source_value                    0
race_source_concept_id         2226856
ethnicity_source_value               0
ethnicity_source_concept_id    2226856
ethnicity_concept_name               0
race_concept_name                    0
gender_concept_name                  0
dep_target_hd                        0
i_diabetes                           0
i_chronic                            0
i_high_bp                            0
i_obesity                            0
i_statin                             0
i_aspirin                            0
address_1                      2226856
address_2                      2226856
city                           2226856
state                                0
zip                            2226856
county                               0
location_source_value                0
dob                                  0
age                                  0
age_group                            0
LR                                   0
age_group_float                      0
dtype: int64

completion of search for missing/null data:


df X:
         person_id  gender_concept_id  year_of_birth  month_of_birth  \
0               30               8532           1959              11
1               46               8507           1931               1
2               66               8532           1920               4
3               67               8507           1948              11
4               99               8532           1920               9
...            ...                ...            ...             ...
2226851    2326800               8507           1939               1
2226852    2326801               8507           1938               6
2226853    2326829               8532           1972               2
2226854    2326836               8532           1930               5
2226855    2326852               8507           1932               5

         day_of_birth  birth_datetime  race_concept_id  ethnicity_concept_id  \
0                   1             NaN             8527              38003564
1                   1             NaN             8527              38003564
2                   1             NaN             8527              38003564
3                   1             NaN             8527              38003564
4                   1             NaN             8527              38003564
...               ...             ...              ...                   ...
2226851             1             NaN             8516              38003564
2226852             1             NaN             8527              38003564
2226853             1             NaN             8527              38003564
2226854             1             NaN             8527              38003564
2226855             1             NaN             8527              38003564

         location_id  provider_id  ...  city state  zip  county  \
0                 30          NaN  ...   NaN    CA  NaN    5090
1                 46          NaN  ...   NaN    CA  NaN    5200
2                 63          NaN  ...   NaN    MO  NaN   26470
3                 64          NaN  ...   NaN    OH  NaN   36770
4                 89          NaN  ...   NaN    FL  NaN   10490
...              ...          ...  ...   ...   ...  ...     ...
2226851          131          NaN  ...   NaN    NC  NaN   34950
2226852          629          NaN  ...   NaN    TN  NaN   44820
2226853          989          NaN  ...   NaN    MI  NaN   23460
2226854          231          NaN  ...   NaN    MI  NaN   23240
2226855           18          NaN  ...   NaN    WA  NaN   50160

         location_source_value         dob  age  age_group LR age_group_float
0                       05-090  1959-11-01   50        -65                  0
1                       05-200  1931-01-01   79      75-84                  2
2                       26-470  1920-04-01   90        85+                  3
3                       36-770  1948-11-01   61        -65                  0
4                       10-490  1920-09-01   89        85+                  3
...                        ...         ...  ...        ... ..             ...
2226851                 34-950  1939-01-01   71      65-74                  1
2226852                 44-820  1938-06-01   72      65-74                  1
2226853                 23-460  1972-02-01   38        -65                  0
2226854                 23-240  1930-05-01   80      75-84                  2
2226855                 50-160  1932-05-01   78      75-84                  2

[2226856 rows x 40 columns]

df Y:
0          0
1          0
2          1
3          0
4          1
          ..
2226851    0
2226852    1
2226853    0
2226854    1
2226855    0
Name: dep_target_hd, Length: 2226856, dtype: int64

Y transformed into 0s and 1s:
[0 0 1 ... 0 1 0]

X:
         person_id  gender_concept_id  year_of_birth  month_of_birth  \
0               30               8532           1959              11
1               46               8507           1931               1
2               66               8532           1920               4
3               67               8507           1948              11
4               99               8532           1920               9
...            ...                ...            ...             ...
2226851    2326800               8507           1939               1
2226852    2326801               8507           1938               6
2226853    2326829               8532           1972               2
2226854    2326836               8532           1930               5
2226855    2326852               8507           1932               5

         day_of_birth  birth_datetime  race_concept_id  ethnicity_concept_id  \
0                   1             NaN             8527              38003564
1                   1             NaN             8527              38003564
2                   1             NaN             8527              38003564
3                   1             NaN             8527              38003564
4                   1             NaN             8527              38003564
...               ...             ...              ...                   ...
2226851             1             NaN             8516              38003564
2226852             1             NaN             8527              38003564
2226853             1             NaN             8527              38003564
2226854             1             NaN             8527              38003564
2226855             1             NaN             8527              38003564

         location_id  provider_id  ...  city state  zip  county  \
0                 30          NaN  ...   NaN    CA  NaN    5090
1                 46          NaN  ...   NaN    CA  NaN    5200
2                 63          NaN  ...   NaN    MO  NaN   26470
3                 64          NaN  ...   NaN    OH  NaN   36770
4                 89          NaN  ...   NaN    FL  NaN   10490
...              ...          ...  ...   ...   ...  ...     ...
2226851          131          NaN  ...   NaN    NC  NaN   34950
2226852          629          NaN  ...   NaN    TN  NaN   44820
2226853          989          NaN  ...   NaN    MI  NaN   23460
2226854          231          NaN  ...   NaN    MI  NaN   23240
2226855           18          NaN  ...   NaN    WA  NaN   50160

         location_source_value         dob  age  age_group LR age_group_float
0                       05-090  1959-11-01   50        -65                  0
1                       05-200  1931-01-01   79      75-84                  2
2                       26-470  1920-04-01   90        85+                  3
3                       36-770  1948-11-01   61        -65                  0
4                       10-490  1920-09-01   89        85+                  3
...                        ...         ...  ...        ... ..             ...
2226851                 34-950  1939-01-01   71      65-74                  1
2226852                 44-820  1938-06-01   72      65-74                  1
2226853                 23-460  1972-02-01   38        -65                  0
2226854                 23-240  1930-05-01   80      75-84                  2
2226855                 50-160  1932-05-01   78      75-84                  2

[2226856 rows x 40 columns]

X_tshape:  (2226856, 40)

X2.shape (2226856, 40)
Y2.shape (2226856,)
split dataset into train and test segments:

X_train_data:

array([[1, 1, 1, ..., 1, 1, 0],
       [1, 2, 2, ..., 0, 0, 3],
       [2, 1, 1, ..., 0, 0, 3],
       ...,
       [2, 2, 2, ..., 0, 1, 3],
       [2, 2, 2, ..., 1, 1, 2],
       [2, 1, 1, ..., 0, 0, 2]])

X_test_data:

array([[1, 1, 1, ..., 0, 0, 3],
       [1, 1, 1, ..., 0, 0, 1],
       [1, 1, 1, ..., 0, 0, 2],
       ...,
       [2, 1, 1, ..., 1, 0, 1],
       [1, 1, 1, ..., 0, 0, 3],
       [1, 1, 1, ..., 0, 0, 1]])

y_train:

array([1, 1, 0, ..., 0, 0, 0])

y_test:

array([1, 1, 1, ..., 1, 1, 0])

,person_id,gender_source_value,race_source_value,ethnicity_source_value,i_diabetes,i_chronic,i_high_bp,i_obesity,i_statin,i_aspirin,age_group_float,dep_target_hd,LR
0,30,2,1,1,0,1,0,0,0,0,0,0,0
1,46,1,1,1,1,1,0,0,0,0,2,0,1
2,66,2,1,1,1,0,0,0,0,0,3,1,0
3,67,1,1,1,0,0,0,0,0,0,0,0,0
4,99,2,1,1,0,0,0,0,0,0,3,1,0

Results for Logistic Regression:

cm:
[[1076619  194902]
 [ 391232  564103]]

score:  0.736788548518629

acc:  0.736788548518629

results:  {'LR': 0.736788548518629}



This is the KNN:

,person_id,gender_source_value,race_source_value,ethnicity_source_value,i_diabetes,i_chronic,i_high_bp,i_obesity,i_statin,i_aspirin,age_group_float,dep_target_hd,LR,KNN
0,30,2,1,1,0,1,0,0,0,0,0,0,0,0
1,46,1,1,1,1,1,0,0,0,0,2,0,1,1
2,66,2,1,1,1,0,0,0,0,0,3,1,0,0
3,67,1,1,1,0,0,0,0,0,0,0,0,0,0
4,99,2,1,1,0,0,0,0,0,0,3,1,0,0

Results for KNN:

cm:
[[1117180  154341]
 [ 564861  390474]]

acc:  0.6770325517231469



results:  {'LR': 0.736788548518629, 'KNN': 0.6770325517231469}



This is the SVM

,person_id,gender_source_value,race_source_value,ethnicity_source_value,i_diabetes,i_chronic,i_high_bp,i_obesity,i_statin,i_aspirin,age_group_float,dep_target_hd,LR,KNN,SVM
0,30,2,1,1,0,1,0,0,0,0,0,0,0,0,0
1,46,1,1,1,1,1,0,0,0,0,2,0,1,1,1
2,66,2,1,1,1,0,0,0,0,0,3,1,0,0,1
3,67,1,1,1,0,0,0,0,0,0,0,0,0,0,0
4,99,2,1,1,0,0,0,0,0,0,3,1,0,0,0

Results for SVC:

cm:
[[935227 336294]
 [270513 684822]]

acc:  0.7275050564562774

results:  {'LR': 0.736788548518629, 'KNN': 0.6770325517231469, 'SVM': 0.7275050564562774}



This is the GaussianNB

,person_id,gender_source_value,race_source_value,ethnicity_source_value,i_diabetes,i_chronic,i_high_bp,i_obesity,i_statin,i_aspirin,age_group_float,dep_target_hd,LR,KNN,SVM,GNB
0,30,2,1,1,0,1,0,0,0,0,0,0,0,0,0,1
1,46,1,1,1,1,1,0,0,0,0,2,0,1,1,1,1
2,66,2,1,1,1,0,0,0,0,0,3,1,0,0,1,0
3,67,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
4,99,2,1,1,0,0,0,0,0,0,3,1,0,0,0,0

Results for GNB:

cm:
[[1015048  256473]
 [ 330390  624945]]

acc:  0.7364611811450763

results:  {'LR': 0.736788548518629, 'KNN': 0.6770325517231469, 'SVM': 0.7275050564562774, 'GNB': 0.7364611811450763}



This is the decision tree classifier

,person_id,gender_source_value,race_source_value,ethnicity_source_value,i_diabetes,i_chronic,i_high_bp,i_obesity,i_statin,i_aspirin,age_group_float,dep_target_hd,LR,KNN,SVM,GNB,DTC
0,30,2,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0
1,46,1,1,1,1,1,0,0,0,0,2,0,1,1,1,1,1
2,66,2,1,1,1,0,0,0,0,0,3,1,0,0,1,0,1
3,67,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,99,2,1,1,0,0,0,0,0,0,3,1,0,0,0,0,0

Results for DTC:

cm:
[[971279 300242]
 [283198 672137]]

acc:  0.7379983258908523

results:  {'LR': 0.736788548518629, 'KNN': 0.6770325517231469, 'SVM': 0.7275050564562774, 'GNB': 0.7364611811450763, 'DTC': 0.7379983258908523}



This is the Random Forest Classifier

,person_id,gender_source_value,race_source_value,ethnicity_source_value,i_diabetes,i_chronic,i_high_bp,i_obesity,i_statin,i_aspirin,age_group_float,dep_target_hd,LR,KNN,SVM,GNB,DTC,RF
0,30,2,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1,46,1,1,1,1,1,0,0,0,0,2,0,1,1,1,1,1,1
2,66,2,1,1,1,0,0,0,0,0,3,1,0,0,1,0,1,1
3,67,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,99,2,1,1,0,0,0,0,0,0,3,1,0,0,0,0,0,0

Results for RF:

cm:
[[967153 304368]
 [277770 677565]]

0.7385830067143991
acc:  0.7385830067143991

results:  {'LR': 0.736788548518629, 'KNN': 0.6770325517231469, 'SVM': 0.7275050564562774, 'GNB': 0.7364611811450763, 'DTC': 0.7379983258908523, 'RF': 0.7385830067143991}